<% layout('layouts/boilerplate') %> 

Hey there! Glat to see you here. I am a final year under graduate at Indian Institute of Technology Jodhpur
persuing Artificial Intelligence. 
<br>
I love to code and explore things. Currently exploring Web Technologies and Machine Learning.
I have also made by hand dirty by solving 500+ questions on online coding platforms.
<br>
In my free time, I travel, play Chess, Table tennis, and video games.
<br>
Feel free to <a href="/contactMe">Contact Me</a>.
<br>
<button>Resume</button>