<% layout('layouts/boilerplate') %> 

<div class="row">
  <div class="col-6 text-center">
    <img src="/pic.jpg" class="w-50 profilePic">
  </div>
  <div class="col-6 about-me">
    <p class="intro-text">Hey there! Glad to see you here. I am a final year undergraduate at Indian Institute of Technology Jodhpur pursuing Artificial Intelligence.</p>
    <p class="interests-text">I love to code and explore things. Currently exploring Web Technologies and Machine Learning. I have also gotten my hands dirty by solving 500+ questions on online coding platforms.</p>
    <p class="hobbies-text">In my free time, I travel, play Chess, Table Tennis, and video games.</p>
    <p><a href="/contactMe" class="contact-text contactMe">Feel free to contact me. </a></p>
    <a href="https://drive.google.com/file/d/1wJ9_FRpJ0Yi_iLPEbquiVL5TLaJ5vVmx/view?usp=sharing" target="_blank">
        <img src="/Resume.png" class="w-50 shadow-lg resume">
    </a>
  </div>
</div>