<% layout('layouts/boilerplate') %> 

<div class="row">
  <div class="col-6 text-center">
    <img src="/pic.jpg" class="w-50">
  </div>
  <div class="col-6">
    Hey there! Glat to see you here. I am a final year under graduate at Indian Institute of Technology Jodhpur
    persuing Artificial Intelligence. 
    <br><br>
    I love to code and explore things. Currently exploring Web Technologies and Machine Learning.
    I have also made by hand dirty by solving 500+ questions on online coding platforms.
    <br><br>
    In my free time, I travel, play Chess, Table tennis, and video games.
    <br><br>
    Feel free to Contact Me.
    <br><br>
    <a href="https://drive.google.com/file/d/1IPT2suDg6I0ToBHkco3K1iljO7Xiriet/view?usp=sharing" target="_blank">
        <img src="/Resume.png" class="w-50 shadow-lg resume">
    </a>
  </div>
</div>