<% layout('layouts/boilerplate') %> 

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-5"></h4>
                    <div class="hori-timeline" dir="ltr">
                        <ul class="list-inline events">
                            <li class="list-inline-item event-list">
                                <div class="px-4">
                                    <div class="event-date bg-soft-primary text-primary">2017-2018</div>
                                    <h5 class="font-size-16">Class 10</h5>
                                    <p class="text-muted">Graduated Class 10 from <b>The Oxford Senior Secondary School</b> with <b>93.8%.</b></p>
                                    <p class="text-muted"><b>Subjects: </b>Science, Mathematics, Hindi, English, Information Technology, Social Science</p>
                                </div>
                            </li>
                            <li class="list-inline-item event-list">
                                <div class="px-4">
                                    <div class="event-date bg-soft-success text-success">2019-2020</div>
                                    <h5 class="font-size-16">Class 12</h5>
                                    <p class="text-muted">Graduated Class 10 from <b>The Oxford Senior Secondary School</b> with <b>94.8%.</b></p>
                                    <p class="text-muted"><b>Subjects: </b>Physics, Chemistry, Mathematics, Computer Science, English</p>
                                </div>
                            </li>
                            <li class="list-inline-item event-list">
                                <div class="px-4">
                                    <div class="event-date bg-soft-danger text-danger">2020-2024</div>
                                    <h5 class="font-size-16">B. Tech</h5>
                                    <p class="text-muted">Will be graduating in 2024 from <b>Indian Institute Of Technology Jodhpur.</b></p>
                                    <p class="text-muted"><b>Branch: </b>Artificial Intelligence and Data Science. <br><b>CGPA:</b> 7.67 - Until 6 semesters</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end card -->
        </div>
    </div>
</div>    