<% layout('layouts/boilerplate') %> 

<div class="about-me">
    <div class="row">
        <div class="col-6 text-center">
            <img src="/Oracle.jpg" class="w-50 profilePic">
        </div>
        <div class="col-6">
            <h3>
                Upcomming Software Engineer
            </h3>
        </div>
    </div>
</div>

<div class="about-me">
    <div class="row">
        <div class="col-6 text-center">
            <img src="/Oracle.jpg" class="w-50 profilePic">
        </div>
        <div class="col-6">
            <h3>
                SWE Intern
            </h3>
            <h4>
                Project: Oraclization
            </h4>
            <p>
                <li>Migration of BSWrapper and Ad-Id-Finder Service from AWS to OCI</li>
                <li><a href="" class="contact-text contactMe" target="_blank"> Detailed Presentation </a></li>
            </p>
        </div>
    </div>
</div>