<% layout('layouts/boilerplate') %> 

<div class="about-me">
    <div class="row">
        <div class="col-6 text-center">
            <img src="/Oracle.jpg" class="w-50 profilePic">
        </div>
        <div class="col-6">
            <h3>
                Upcomming Software Engineer
            </h3>
        </div>
    </div>
</div>

<div class="about-me">
    <div class="row">
        <div class="col-6 text-center">
            <img src="/Oracle.jpg" class="w-50 profilePic">
        </div>
        <div class="col-6">
            <h3>
                SWE Intern
            </h3>
            <h4>
                Project: Oraclization
            </h4>
            <p>
                <li>Migration of BSWrapper and Ad-Id-Finder Service from AWS to OCI</li>
                <li><b>BSWrapper:</b></li>
                    <ul>
                        <li>Python2 -> Python 3 migration</li>
                        <li>Vault Integration</li>
                        <li>Container Migration to ARM64</li>
                        <li>URL Creation in Unified Cluster</li>
                        <li>VSCode Connectivity with pods</li>
                        <li>ArgoCD Deployment</li>
                        <li>Redirection Application Pod Logs</li>
                        <li>Scripts Optimization</li>
                    </ul>
                <li><b>Ad-Id-Finder Service:</b></li>
                    <ul>
                        <li>Containerization</li>
                        <li>Vault Integration</li>
                        <li>Kubernetes Deployment Script</li>
                        <li>URL creation in Unified Cluster</li>
                        <li>Container Migration to ARM64</li>
                        <li>Stagind Deployment in Unified Cluster</li>
                        <li>VSCode Connectivity with pods</li>
                        <li>ArgoCD Deployment</li>
                        <li>Integration with BSWrapper in OCI</li>
                    </ul>

                <li><a href="https://docs.google.com/presentation/d/1HtfOJVl4SbiNTHCoVFHWUX8QUlpoIGV4/edit?usp=sharing&ouid=105852913489731217384&rtpof=true&sd=true" class="contact-text contactMe" target="_blank"> Detailed Presentation </a></li>
            </p>
        </div>
    </div>
</div>