<% layout('layouts/boilerplate') %>

<div class="about-me">
    <div class="row">
        <div class="col-6 text-center">
                <a href="https://github.com/RisheekNayak/Portfolio" target="_blank">
                    <img src="/Github.png" class="w-50 resume">
                </a>
        </div>
        <div class="col-6">
            <h4>
                Portfolio website <br>
            </h4>
            <h5>
                August 2023 - September 2023 | Self Project
            </h5>
            <p>
                <li>Developed a personal Portfolio.</li>
                <li>Used Express to render different web pages.</li>
                <li><b>Technologies Used:</b> <i>Javascript, EJS, Node.js, Bootstrap, HTML/CSS,Express.js</i></li>
            </p>
        </div>
    </div>
</div>

<div class="about-me">
    <div class="row">
        <div class="col-6 text-center">
            <a href="https://github.com/RisheekNayak/Datapath-Extractor-from-Hardware-Design-Descriptions" target="_blank">
                <img src="/Github.png" class="w-50 resume">
            </a>
        </div>
        <div class="col-6">
            <h4>
                Datapath Extractor from Hardware Design Descriptions  <br>
            </h4>
            <h5>
                August 2022 - December 2022 | Supervisor: Dr. Binod Kumar
            </h5>
            <p>
                <li>To reduce a large circuit network given in the form of verilog into simpler expressions.</li>
                <li>The verilog code is converted into graph format.</li>
                <li>Iterating the network levelwise and storing the relation of each level wire with the input wires.</li>
                <li>iterating upto the last level where we will get the outputs in an expression containing only inputs</li>
                <li><b>Technologies Used: </b> <i>Data Structures, Algorithms</i></li>
            </p>
        </div>
    </div>
</div>

<div class="about-me">
    <div class="row">
        <div class="col-6 text-center">
                <a href="https://github.com/RisheekNayak/YelpCamp" target="_blank">
                    <img src="/Github.png" class="w-50 resume">
                </a>
        </div>
        <div class="col-6">
            <h4>
                YELPCAMP WEBSITE <br>
            </h4>
            <h5>
                May 2022 - June 2022 | Self Project | Udemy Course
            </h5>
            <p>
                <li>Developed basic full stack website for searching, sharing, and reviewing campgrounds.</li>
                <li>Includes basic authentication and authorization.</li>
                <li><b>Technologies Used:</b> <i>Javascript, EJS, Node.js, Bootstrap, HTML/CSS,Express.js, MongoDB</i></li>
            </p>
        </div>
    </div>
</div>

<div class="about-me">
    <div class="row">
        <div class="col-6 text-center">
            <a href="https://github.com/RisheekNayak/ML-based-Hardware-Trojan-Detection" target="_blank">
                <img src="/Github.png" class="w-50 resume">
            </a>
        </div>
        <div class="col-6">
            <h4>
                HARDWARE TROJAN DETECTION USING ML <br>
            </h4>
            <h5>
                January 2022 - May 2022 | Supervisor: Dr. Binod Kumar
            </h5>
            <p>
                <li>Generation of the trojan files by adding some gates randomly in the netlist.</li>
                <li>Simulation of the trojan files to generate features.</li>
                <li>Used various ML classification methods to detect trojan files.</li>
                <li><b>Technologies Used:</b> <i>Bash Scripting, Python, C++, Machine Learning</i></li>
            </p>
        </div>
    </div>
</div>