body{
    background-color: #ebe5e5;
    font-family: Arial, sans-serif;
}
  
.about-me {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}
  
.intro-text, .interests-text, .hobbies-text, .contact-text {
    margin-bottom: 15px;
}
  
.intro-text {
    font-size: 18px;
    font-weight: bold;
}
  
.interests-text, .hobbies-text {
    font-size: 16px;
    line-height: 1.5;
}
  
.contact-text {
    font-size: 14px;
    font-style: italic;
}
  
.contact-text:hover {
    color: #ff6600;
    cursor: pointer;
}
  
.contactMe {
    text-decoration: none;
    color: inherit;
}

.profilePic {
    border-radius: 20px;
}

.resume {
    cursor: pointer;
    border-radius: 20px;
    padding: 6px 9px;
    border:solid 2px #000000;
}
  
.resume:hover, .resume:active {
    transition: all .4s ease-in-out;
    background: #c2c0c0;
}

/* Education */

.hori-timeline .events {
    border-top: 3px solid #e9ecef;
}

.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}

.hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
}

.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 100px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2px 4px;
}

@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -12px;
    }
}

.bg-soft-primary {
    background-color: rgba(64,144,203,.3)!important;
}

.bg-soft-success {
    background-color: rgba(71,189,154,.3)!important;
}

.bg-soft-danger {
    background-color: rgba(231,76,94,.3)!important;
}

.bg-soft-warning {
    background-color: rgba(249,213,112,.3)!important;
}

.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}